<header>
    <a
        routerLink="/"
        ariaCurrentWhenActive="page">
        <img src="/assets/images/logo.png" alt="Logo da aplicação Buscante">
    </a>
    <nav>
        <a
            routerLink="/estatisticas"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page">
            Estatísticas
        </a>
        <a
            routerLink="/contato"
            routerLinkActive="active-page"
            ariaCurrentWhenActive="page">
            Contato
        </a>
    </nav>
</header>
