<section class="container">
    <header>Que livro você procura?</header>
    <form class="search">
      <input
        type="search"
        [(ngModel)]="inputSearch"
      >

      <button (click)="searchBooks()">
        <fa-icon [icon]="faMagnifyingGlass" />
      </button>
    </form>
    <p>Busque por assunto, autoria, nome...</p>
  <div class="container-card" *ngIf="listBooks!.length > 0, else homeScreen">
    <div *ngFor="let book of listBooks">
      <app-book [book]="book"></app-book>
    </div>
  </div>
  <ng-template #homeScreen>
    <div class="images">
      <h1 class="title">Busque o livro <br> que quiser na <br> nossa estante!</h1>
      <img
        class="ilustration"
        src="../../assets/images/ilustracao-estante.png"
        alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas">
    </div>
  </ng-template>