<section>
  @if (combinedStats.length > 0) {
  <output id="searchStatsOutput" aria-live="polite">
    @if (searchStats && searchStats.length > 0) {
    <article>
      <h3>Pesquisas mais buscadas</h3>
      <ngx-charts-pie-chart
        [results]="searchStats"
        [view]="[400, 300]"
        [legend]="true"
        [explodeSlices]="true"
        [labels]="true"
        [doughnut]="true"
        [scheme]="'ocean'"
        aria-label="Gráfico de pesquisas mais buscadas"
        aria-describedby="searchStatsOutput">
      </ngx-charts-pie-chart>
    </article>
    }
  </output>

  <output id="clickedBooksStatsOutput" aria-live="polite">
    @if (clickedBooksStats && clickedBooksStats.length > 0) {
    <article>
      <h3>Livros mais clicados</h3>
      <ngx-charts-pie-chart
        [results]="clickedBooksStats"
        [view]="[400, 300]"
        [legend]="true"
        [explodeSlices]="true"
        [labels]="true"
        [doughnut]="true"
        [scheme]="'fire'"
        aria-label="Gráfico de livros mais clicados"
        aria-describedby="searchStatsOutput">
      </ngx-charts-pie-chart>
    </article>
    }
  </output>
  } @else {
  <div class="images">
    <h1 class="title">Você não realizou <br> nenhuma busca <br> em nossa
      estante!</h1>
    <img class="ilustration" src="/assets/images/ilustracao-estante.png"
      alt="Pessoa em pé ao lado de uma estante com livros e plantas, representando a falta de buscas realizadas">
  </div>
  }
</section>
