<section *ngIf="statusModal" class="modal-container">
  <button class="overlay" @overlayAnimation (click)="closeModal()"></button>

  <article class="modal-content" @modalAnimation>
    
    <div class="modal-header">
      <img class="image" [src]="book.thumbnail?.thumbnail || '/assets/images/capa-indisponivel.png'"
        alt="Capa do livro">
      <div class="info">
        <p class="title">{{ book.title }}</p>
        <p class="author">{{ book.authors }}</p>
      </div>
    </div>

    <div class="modal-body">
      <p><strong>Data de publicação:</strong> {{ book.publishedDate }}</p>
      <p><strong>Editora:</strong> {{ book.publisher }}</p>
    </div>

    <div class="synopsis">
      <h4>Sinopse</h4>
      <p>{{ book.description }}</p>
    </div>

    <button (click)="readPreview()" class="details">Ler prévia</button>
  </article>
</section>
