<dialog
  cdkTrapFocus
  cdkTrapFocusAutoCapture="true"
  [open]="statusModal"
  class="modal-container">
  <article class="modal-content" @modalAnimation>
    <div class="modal-header">
      <img class="image"
        [src]="book.thumbnail?.thumbnail || '/assets/images/capa-indisponivel.png'"
        alt="Capa do livro:{{book.title}}">
      <div class="info">
        <h2 class="title">{{ book.title }}</h2>
        <p class="author">{{ book.authors }}</p>
      </div>
    </div>

    <div class="modal-body">
      <p><strong>Data de publicação:</strong> {{ book.publishedDate }}</p>
      <p><strong>Editora:</strong> {{ book.publisher }}</p>
    </div>

    <div class="synopsis">
      <h4>Sinopse</h4>
      <p>{{ book.description }}</p>
    </div>

    <button [attr.aria-label]="'Ler prévia do livro ' + book.title"
      (click)="readPreview()" class="details">Ler prévia</button>
  </article>
  <button class="overlay" @overlayAnimation (click)="closeModal()"></button>
</dialog>
