<section *ngIf="statusModal" class="container">
  <div class="card">
    <img class="image" [src]="book.thumbnail ? book.thumbnail : 'assets/images/capa-indisponivel.png'"
      alt="Capa do livro">
    <div class="info-card">
      <p class="title">{{ book.title }}</p>
      <p class="informations">Autoria:</p>
      <p class="result">{{ book.authors }}</p>
      <p class="informations">Data de publicação:</p>
      <p class="result">{{ book.publishedDate }}</p>
      <p class="informations">Editora:</p>
      <p class="result">{{ book.publisher }}</p>
      <button (click)="readPreview()" class="details">Ler prévia</button>
    </div>
    <button (click)="closeModal()" class="close-button">
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="synopsis">
      <h4 class="informations">Sinopse</h4>
      <p class="result">{{ book.description }}</p>
    </div>
  </div>
  <div class="overlay"></div>
</section>
