<section class="container">
  <header>Que livro você procura?</header>
  <form class="search">
    <input type="search" [formControl]="searchField">
    <button>
      <fa-icon [icon]="faMagnifyingGlass" />
    </button>
  </form>

  <p>Busque por assunto, autoria, nome...</p>
  <small class="errorMessage" *ngIf="errorMessage"> {{errorMessage}} </small>
  <small class="resultsNumber" *ngIf="foundBooks$ | async"> {{resultBooks?.totalItems}} resultados encontrados. </small>
  <div class="container-card" *ngIf="foundBooks$ | async as listBooks, else homeScreen" @fadeIn>

    <div *ngFor="let book of listBooks">

      <app-book [book]="book"></app-book>
    </div>
  </div>

  <ng-template #homeScreen>
    <div class="images">
      <h1 class="title">Busque o livro <br> que quiser na <br> nossa estante!</h1>
      <img class="ilustration" src="/assets/images/ilustracao-estante.png"
        alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas">
    </div>
  </ng-template>
