<section class="container-section">
  <header>Que livro você procura?</header>
  <form class="search">
    <input type="search" [formControl]="searchField" #searchFieldElement>
  </form>

  <p>Busque por assunto, autoria, nome...</p>
  @if(errorMessage){
  <small class="errorMessage">{{errorMessage}} </small>
  }

  @if (foundBooks$ | async; as listBooks) {
  <section class="container-card" @fadeIn>
    <ul class="list-books">
      @for(book of listBooks; track book.title){
      <li @slideIn>
        <app-book [book]="book"></app-book>
      </li>
      }
    </ul>
    <app-pagination [totalItems]="resultBooks?.totalItems || 0"
      [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </section>

  } @else {

  <section class="images" @fadeIn>
    <h1 class="title">Busque o livro <br> que quiser na <br> nossa
      estante!</h1>
    <img class="ilustration" src="/assets/images/ilustracao-estante.png"
      alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas">
  </section>
  }
</section>
