.card {
  display: flex;
  width: 350px; /* Limitar o tamanho do card */
  height: 410px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 16px;
  border-radius: 8px;
  flex-direction: column;
  background: #ffffff;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: container;
  border-radius: 8px 8px 0 0;
}

.info-card {
  padding: 14px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #6c63ff;
  margin-bottom: 8px;
}

.informations {
  font-weight: 600;
  font-size: 14px;
  color: #8b8b8b;
}

.result {
  font-weight: 400;
  font-size: 14px;
  color: #8b8b8b;
}

button {
  background: #6c63ff;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #050c42;
}
