<article class="card" @fadeIn>
  <img
    src="{{ book.thumbnail?.thumbnail ? book.thumbnail?.thumbnail : '/assets/images/capa-indisponivel.png'}}"
    alt="Capa do livro">
  <section class="info-card" aria-label="Detalhes do livro">
    <h2 class="title" [attr.aria-label]="'Título do livro' + book.title ">{{
      book.title | slice:0:30 }}</h2>
    <dl>
      <dt class="informations">Autoria:</dt>
      <dd class="result">{{ book.authors! | authors }}</dd>
      <dt class="informations">Data de publicação:</dt>
      <dd class="result">{{ book.publishedDate | date:'dd/MM/yyyy' }}</dd>
      <dt class="informations">Editora:</dt>
      <dd class="result">{{ book.publisher | slice:0:20 }}</dd>
    </dl>
    <button (click)="toggleModal()">Mais detalhes</button>
  </section>
</article>

@if (openModal) {
<app-modal-books
  [book]="book"
  [statusModal]="openModal"
  (changedModal)="toggleModal()">
</app-modal-books>
}